/* 表 : 一覧表示、詳細表示 */
table.list, table.attr {
  font-size: 90%;
  width: 100%;
}

table.list th, table.attr th {
  background-color: #449;
  color:white;
  font-weight: normal;
}

table.list th, table.list td,
table.attr th, table.attr td {
  padding: 4px;
}

table.list th {
  text-align: left;
}

table.arrt th {
  text-align: right;
}

table.list td, table.list td {
  background-color: #cee;
}
